<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthealthdevice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHealthDevice">
        <activity android:name=".Medical.Oxygen"></activity>
        <activity android:name=".Medical.BodyTemptrature" />
        <activity android:name=".Medical.SugarLeval" />
        <activity android:name=".Medical.MedicalIndex" />
        <activity android:name=".Medical.Medical" />
        <activity android:name=".yourhealthprofile" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>